{% extends 'layout.njk' %}

{% block content %}
  <div style="max-width: 350px">
      <div><lpTitle>ERROR</lpTitle></div>
    <lpCornerBox>

        <p style="text-align: center">Stran še ni na voljo.</p>
    </lpCornerBox>
  </div>
{% endblock %}