{% extends 'layout.njk' %}

{% block content %}

<div>

    <lpTitle>FAQ</lpTitle>
    <faqContainer >
        <faq
          q="Kje se bo odvijal dogodek?"
          a="Dogodek se bo odvijal v restavraciji Gaudeamus v Velenju."
        ></faq>

        <faq
          q="Kdaj se bo odvijal dogodek?"
          a="Dogodek se bo odvijal 17. 1. 2020 in 18. 1. 2020"
        ></faq>

        <faq
          q="Ali je dogodek brezplačen?"
          a="Da."
        ></faq>

        <faq
          q="Ali je dogodek starostno omejen?"
          a="Starostne omejitve ni."
        ></faq>

        <faq
          q="Ali se lahko prijavim na več turnirjev hkrati?"
          a="Da, vendar bodite pozorni, da se urniki iger ne prepletajo."
        ></faq>

        <faq
          q="Ali moram s seboj prinesti svojo opremo?"
          a="Lastna oprema je močno zaželjena. V primeru, da potrebujete šolsko opremo, nas o tem pravočasno obvestite na enem od socialnih omrežij ali preko elektronske pošte."
        ></faq>

        <faq
          q="Ali lahko na dogodek pridem tekmovati brez ekipe?"
          a="Ne, razen za igre Minecraft, Call Of Duty: Mobile, Virtual Reality in Simulator vožnje. Če se želite udeležiti katerega izmed ostalih turnirjev in nimate soigralcev/ekipe, nas lahko kontaktirate in pomagali vam bomo poiskati ekipo."
        ></faq>
        
        <faq
          q="Kje lahko spremljam prenos v živo?"
          a="Dogodek lahko spremljate na strani <a href='twitch.tv/scvlanparty' >twitch.tv/scvlanparty</a>."
        ></faq>

        <faq
          q="Koliko časa poteka turnir?"
          a="Glede točne ure začetka spremljajte urnik. Medtem, ko se je čas zaključka vsa leta do zdaj končal pozno v noč."
        ></faq>

        <faq
          q="Ali lahko pridem na dogodek kot gledalec?"
          a="Dogodka se lahko udeležite brezplačno kot gledalec."
        ></faq>

        <faq
          q="Kaj vse lahko počnem na dogodku?"
          a="Na dogodku se lahko preizkusite v igranju različnih iger, kot so Counter-Strike : Global Offensive, League of Legends, FIFA 20, Rocket League, Minecraft in Call of Duty: Mobile"
        ></faq>
        
        <faq
          q="Poznate koga, ki bi sponzoriral dogodek?"
          a="V primeru da, poznate nekoga in/ali ste to vi nam pošljite sporočilo na <span #color='blue' >lanparty@scv.si</span>, kjer bomo poiskali možne načine sodelovanja na dogodku."
        ></faq>

    </faqContainer>

    <div style="text-align: center; margin-bottom: 1em ">Stran nazadnje posodobljena 18. 11. 2019, 20:00</div>
</div>
{% endblock %}