{% extends 'layout.njk' %}

{% block content %}
<!-- 
<div>
    <lpTitle>LAN PARTY</lpTitle>
    <lpHomeGame title="CS:GO" image="https://i.ytimg.com/vi/ZfCOnCxJUVw/maxresdefault.jpg" ></lpHomeGame>
    <lpHomeGame title="CS:GO" image="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/LolGameInfo-Harbinger/it_IT/b49c208c106c3566ac66bc70dc62993c84c0511e/assets/assets/images/gi-landing-top.jpg" ></lpHomeGame>
    <lpHomeGame title="CS:GO" image="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSThoeBjTPIgMdhwN4LjB5wU6SJtEuvXKnQE3FCBo8jiIMaN5jD" ></lpHomeGame>
    <lpHomeGame title="CS:GO" image="http://3.bp.blogspot.com/-XonRJJIV6sQ/VhKVwtOErfI/AAAAAAAABgg/g4_db5ZKnBY/s400/rl.png" ></lpHomeGame>
</div> -->


<div --style="display: none">
    <lpTitle>LAN PARTY</lpTitle>
    <div style=" max-width: 500px; margin: 0 auto">

    
    <lpCornerBox   -:style="display: none">
        <div
            style="; display: flex; flex-direction: column; justify-content: center; text-align: center; font-size: 20px; max-width: 400px; margin: 0 auto">
            <div style="display: flex; flex-direction: column;  justify-content: center; align-content: center">
                <p style="font-size: 23px; ">Prijaviš se lahko na naslednje igre:</p>
                <div style="margin-top: 10px; text-align: center">
                    <lpButton2 link="https://docs.google.com/forms/d/e/1FAIpQLSfl_bLmOEdtdxEcziXgbcUfLLys5WthMbIv54d-zKB1M1O2Yw/viewform">Counter Strike: Global Offensive</lpButton2>
                    <lpButton2 link="https://docs.google.com/forms/d/e/1FAIpQLSe2b2KySSViYvqwmTm5cMs_pidQNVWoiydhYFfKqQWvtQQPaw/viewform">League of Legends</lpButton2>
                    <lpButton2 link="https://docs.google.com/forms/d/e/1FAIpQLScQM3VbKOtTm6fBmczTnOQV2F-KHWEtegvCS9OzhKJlGocYUA/viewform">Fifa 20 (1v1)</lpButton2>
                    <lpButton2 link="https://docs.google.com/forms/d/e/1FAIpQLSdhzoHBoVcwPQBjv9ywL8iqoNcb2o6OW9JAhZD7tfmoxbZ8WA/viewform">Rocket Leauge (1v1)</lpButton2>
                </div>

                <lpSep></lpSep>
                
                <p class="evInfo">Čas dogodka: <strong>17-18. 1. 2020</strong></p>
                <p class="evInfo">Kraj dogodka: <strong>Gaudeamus</strong></p>
                <!-- <lpSep></lpSep> -->
<!-- 
                <lpSep></lpSep>

                <p class="evInfo">Prvi dan: <strong>CS:GO, RL, Minecraft, VR</strong></p>
                <p class="evInfo">Drugi dan: <strong>LoL, Fifa, Minecraft, VR</strong></p> -->

                <lpSep></lpSep>
                
                <lpSocialsBar></lpSocialsBar>

                <!-- <div style="margin-bottom: 1em">
                    <p style="font-size: 23px; ">Prijave:</p>
                    <lpButton2>Counter Strike: Global Offensive</lpButton2>
                    <lpButton2 link="https://docs.google.com/forms/d/e/1FAIpQLSe2b2KySSViYvqwmTm5cMs_pidQNVWoiydhYFfKqQWvtQQPaw/viewform">LoL</lpButton2>
                </div> -->
            </div>
        </div>
    </lpCornerBox>
</div>
    <!-- <div style="margin-top: 1.6em;"></div> -->
</div>

<div>
    <lpTitle>NOVICE</lpTitle>

    {% set counter = 0 %}
    {% set maxPosts = 5 %}

    {% for post in posts %}
    {% if counter != maxPosts %}
    {% set counter = counter + 1 %}
    <lpPost title="{{ post.title | safe }}">{{ post.body | safe }}</lpPost>
    {% endif %}
    {% endfor %}

    <!-- <lpPost :id="post1" title="TEST">AYY</lpPost>
        <lpPost :id="post1" title="TEST">AYY</lpPost>
        <lpPost :id="post1" title="TEST">AYY</lpPost> -->

    <!-- <div style="margin-top: 1.6em;"></div>
    <lpTitle>SPONZORJI</lpTitle> -->
</div>
{% endblock %}