{% extends 'layout.njk' %}

{% block content %}
<div>
  <lpTitle>RAZPOREDJA</lpTitle>
<div>
  <lpBracketTitle> Counter-Strike: Global Offensive </lpBracketTitle>
  <iframe src="https://challonge.com/erslanparty2020/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>

  <lpBracketTitle> Rocket Leauge </lpBracketTitle>
  <iframe src="https://challonge.com/rlerslanparty/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>

</div></div>
{% endblock %}