{% extends 'layout.njk' %}

{% block content %}
    <div>
        <lpTitle>CS:GO</lpTitle>
        <lpCornerBox :style="max-width:400px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Start: <b>15:30</b><br/></div>

            <lpSporedSep></lpSporedSep>

            <div>Game 1 start: <b>15:45</b><br/></div>

            <div>Game 1 end: <b>17:00</b><br/></div>
            <!-- <lpSporedSep></lpSporedSep> -->
            <div p> <b>Pavza(10min)</b><br/></div>
            <!-- <lpSporedSep></lpSporedSep> -->
            <div>Game 2 start:  <b>17.15</b><br/></div>
            <div>Game 2 end: <b>18.30</b><br/></div>
            <!-- <lpSporedSep></lpSporedSep> -->
            <div p> <b>Pavza(10min)</b><br/></div>
            <!-- <lpSporedSep></lpSporedSep> -->
            <div>Game 3 start: <b>18.45</b><br/></div>

            <div>Game 3 end:  <b>20.00</b><br/></div>
            <lpSporedSep></lpSporedSep>
            <div> <b>Pavza(10min)</b><br/></div>
            <lpSporedSep></lpSporedSep>
        </div></lpCornerBox>
    </div>

    <div>
        <lpTitle>LoL</lpTitle>
        <lpCornerBox :style="max-width:400px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Start: <b>9.30</b><br/></div>

            <lpSporedSep></lpSporedSep>

            <div>Game 1 start: <b>9.45</b><br/></div>

            <div>Game 1 end: <b>10.35</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Game 2 start:  <b>10.50</b><br/></div>

            <div>Game 2 end: <b>11.40</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Game 3 start: <b>11.55</b><br/></div>

            <div>Game 3 end:  <b>12.15</b><br/></div>
            <lpSporedSep></lpSporedSep>
            <div> <b>Pavza kosilo(1uro 30 Min)</b><br/></div>
            <lpSporedSep></lpSporedSep>
        </div></lpCornerBox>
    </div>
{% endblock %}