{% extends 'layout.njk' %}

{% block content %}

    <style>
        #headerSeperator {
            height: 4.6em !important;
        }
    </style>

    <div>
        <lpTitle>CS:GO</lpTitle>
        <lpCornerBox :style="max-width:500px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Check in: <b>14.00 - 15.00</b><br/></div>
            <div>Start: <b>15.30</b><br/></div>
            <lpSporedSep></lpSporedSep>

            <div>Game 1 start: <b>15.45</b><br/></div>
            <div>Game 1 end: <b>17.00</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Game 2 start:  <b>17.15</b><br/></div>
            <div>Game 2 end: <b>18.30</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Game 3 start: <b>18.45</b><br/></div>
            <div>Game 3 end:  <b>20.00</b><br/></div>

            <lpSporedSep></lpSporedSep>
            <div>Final stage</div>
            <lpSporedSep></lpSporedSep>

            <div>Round 1 stat:  <b>20.15</b><br/></div>
            <div>Round 1 end:  <b>21.30</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Semis start:  <b>21.45</b><br/></div>
            <div>Semis end:  <b>23.00</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>

            <lpSporedSep></lpSporedSep>
            <div> Finale <br/></div>
            <lpSporedSep></lpSporedSep>

            <div>Finale start:  <b>23.15</b><br/></div>
            <div>Finale end:  <b>2.45</b><br/></div>
        </div></lpCornerBox>
    </div>

    <div>
        <lpTitle>LoL</lpTitle>
        <lpCornerBox :style="max-width:500px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Check in: <b>8.00 - 9.00</b><br/></div>
            <div>Start: <b>9.30</b><br/></div>
            <lpSporedSep></lpSporedSep>

            <div>Game 1 start: <b>9.45</b><br/></div>
            <div>Game 1 end: <b>10.35</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Game 2 start:  <b>10.50</b><br/></div>
            <div>Game 2 end: <b>11.40</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Game 3 start: <b>11.55</b><br/></div>
            <div>Game 3 end:  <b>12.15</b><br/></div>

            <lpSporedSep></lpSporedSep>
            <div>Final stage</div>
            <lpSporedSep></lpSporedSep>

            <div>Round 1 stat:  <b>13.50</b><br/></div>
            <div>Round 1 end:  <b>14.40</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>
            <div>Semis start:  <b>14.55</b><br/></div>
            <div>Semis end:  <b>15.15</b><br/></div>
            <div p> <b>Pavza(10min)</b><br/></div>

            <lpSporedSep></lpSporedSep>
            <div> Finale <br/></div>
            <lpSporedSep></lpSporedSep>

            <div>Finale start:  <b>15.30</b><br/></div>
            <div>Finale end:  <b>18.00</b><br/></div>
        </div></lpCornerBox>
    </div>
{% endblock %}