{% extends 'layout.njk' %}

{% block content %}
  <script>
      window.addEventListener("load", () => {
          document.getElementById("container").innerHTML = `<lpStream />`; 
      }, false);
  </script>
{% endblock %}