{% extends 'layout.njk' %}

{% block content %}
<div>
    <lpTitle>EKIPE</lpTitle>

    <style>
        html  {
            /* overflow-y: scroll; */
        }
    </style>

    <!-- <div class="lpTeams">
        <div class="partial">
            <lpTeamColumn game="CS:GO"
                frame="https://esports.thegamesmachine.it/wp-content/uploads/2019/04/charleroi.jpg"></lpTeamColumn>
            <lpTeamColumn game="CS:GO"></lpTeamColumn>
        </div>
        <div class="partial">
            <lpTeamColumn game="CS:GO"
                frame="https://esports.thegamesmachine.it/wp-content/uploads/2019/04/charleroi.jpg"></lpTeamColumn>
            <lpTeamColumn game="CS:GO"></lpTeamColumn>
        </div>
    </div> -->

    <div id="teamsRoot">
            <!-- https://esports.thegamesmachine.it/wp-content/uploads/2019/04/charleroi.jpg -->
        <!-- GAMES LIST -->
        <div class="teamsContainer">
            <lpTeamsContainer
                2game="Counter-Strike: Global Offensive"
                game="CS:GO"
                gameshort="CS:GO"
                frame="https://i.ytimg.com/vi/ZfCOnCxJUVw/maxresdefault.jpg"
            >
                {% for team in teams.csgo %}
                    <lpTeam teamname="{{ team.team | safe }}">
                        {% for player in team.players %}
                            <div>{{ player }}</div>
                        {% endfor %}    
                    </lpTeam>
                {% endfor %}
            </lpTeamsContainer>
            <lpTeamsContainer
                game="League of Legends"
                frame="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/LolGameInfo-Harbinger/it_IT/b49c208c106c3566ac66bc70dc62993c84c0511e/assets/assets/images/gi-landing-top.jpg"
            >
                {% for team in teams.lol %}
                    <lpTeam teamname="{{ team.team | safe }}">
                        
                        {% for player in team.players %}
                            <div>{{ player }}</div>
                        {% endfor %}
                        
                    </lpTeam>
                {% endfor %}
            </lpTeamsContainer>

        </div>
        <div class="teamsContainer"> <!-- FIFA 20 and Rocket Leauge -->
            
            <!-- </lpTeamsContainer> -->

                <lpTeamsContainer
                    game="FIFA 20"
                    frame="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSThoeBjTPIgMdhwN4LjB5wU6SJtEuvXKnQE3FCBo8jiIMaN5jD"
                >
                    <lpPlayers teamname="Igralci">
                            
                        {% for player in soloPlayers.fifa %}
                            <div>{{ player }}</div>
                        {% endfor %}
                    </lpPlayers>
                <!-- </lpTeam> -->
                </lpTeamsContainer>


                <lpTeamsContainer
                    game="Rocket League"
                    frame="http://3.bp.blogspot.com/-XonRJJIV6sQ/VhKVwtOErfI/AAAAAAAABgg/g4_db5ZKnBY/s400/rl.png"
                >
                    <lpPlayers teamname="Igralci">         
                        {% for player in soloPlayers.rl %}
                            <div>{{ player }}</div>
                        {% endfor %}
                    </lpPlayers>
                </lpTeamsContainer>
            <!-- <lpTeamsContainer
                    game="Minecraft"
                    frame="https://lh3.googleusercontent.com/yAtZnNL-9Eb5VYSsCaOC7KAsOVIJcY8mpKa0MoF-0HCL6b0OrFcBizURHywpuip-D6Y"
                >
                </lpTeamsContainer>
                <lpTeamsContainer
                    game="Call of Duty: Mobile"
                    frame="https://s3.dexerto.com/thumbnails/_thumbnailLarge/best-weapons-call-of-duty-mobile-cod-mobile.jpg"
                > -->

            <!-- </lpTeamsContainer> -->

        </div>

        <div style="text-align: center;">Stran nazadnje posodobljena {{ lastChange }}</div>
    </div>
</div>

{% endblock %}